extends layout
block content
	if username
		a(href="/game/") Game Lobby
			#header-container.ui.segment
				div.online-count
					i.chrome.icon
					| players online now

	else
		a(href="/observe/") Game Lobby
			#header-container.ui.segment
				div.online-count
					i.chrome.icon
					| players online now

	.ui.segment
		.ui.grid.mainpage
			.row.stackable#general-info
				.eight.wide.column
					h1(style="font-size: 22px;") Bienvenue sur le serveur de Nodraak :)
					p Pour jouer il faut vous créer un compte en cliquant sur "SignUp" en haut à droite. Renseignez un identifiant et un mot de passe, acceptez les conditions d'utilisation et valider la création du copte. C'est tout.
					p Ensuite cliquez sur le gros bouton rouge en haut à gauche : "Game Lobby".
					p Vous verrez la liste des parties disponibles ou bien vous pourrez créer une nouvelle partie.
					p Pour mettre une petite photo/image sympa, cliquez sur ce bouton de #[a(href="/game/#/settings") REGLAGES].
					p Nous vous proposerons également de jouer en vocal en utilisant une sorte de skype gratuit et opensource qui ne necessite pas de compte.
				.eight.wide.column.news
					h2(style="color: #000").ui.header News
					h3 Le site FONCTIONNE !
					p


